body{
    background: linear-gradient(90deg, #d53369 0%, #daae51 100%);
    font-family: 'Poppins', sans-serif;
    system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
    display: flex;
}